data/education.dtd

<!ELEMENT education (person, timeline, certifications)>
<!ELEMENT person (name, jobTitle, knowsAbout?, knowsLanguage*)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT jobTitle (#PCDATA)>
<!ELEMENT knowsAbout (#PCDATA)>
<!ELEMENT knowsLanguage (#PCDATA)>
<!ELEMENT timeline (item+)>
<!ELEMENT item (title, description)>
<!ELEMENT title (#PCDATA)>
<!ELEMENT description (#PCDATA)>
<!ELEMENT certifications (#PCDATA)>
